@import '../../../node_modules/@angular/material/theming';

/* Light default theme */
@include mat-core();
$life-primary: mat-palette($mat-green, 700, 800, 900);
$life-accent:  mat-palette($mat-light-green, A200);
$life-warn:    mat-palette($mat-red);
$life-light-theme: mat-light-theme($life-primary, $life-accent, $life-warn);
@include angular-material-theme($life-light-theme);

/* Light theme hardcoded: <body class=".life-light-theme"> */
.life-light-theme {
  @include angular-material-theme($life-light-theme);
}

/* Dark theme, use: <body class=".life-dark-theme"> */
@include mat-core();
$life-dark-theme: mat-dark-theme($life-primary, $life-accent, $life-warn);

.life-dark-theme {
  @include angular-material-theme($life-dark-theme);
  background: mat-color($mat-grey, 900, 0.9);
}

.cdk-overlay-pane {
  max-height: 100vh;
  width: 100vw !important;
  max-width: 100vw !important;
  overflow-y: scroll;
}
