#main-toolbar {
  font-size: .8em;
  color: white;
  background-color: #222222;
  -webkit-app-region: drag;
}

#main-toolbar button {
  -webkit-app-region: no-drag;
}

#main-toolbar span {
  margin: auto 5px;
}

#main-toolbar mat-icon {
  font-size: 1.2em;
  height: 1.1em;
  width: 1.1em;
  margin: auto;
}

.toolbar-row {
  display: flex;
}

#main-toolbar button {
  background-color: #222222;
  border: none;
  outline: none;
}

#main-toolbar button:hover {
  background-color: #3d3d3d;
}
