<div id="main-toolbar">
  <div class="toolbar-row">
    <span>STREAM STUDIO</span>
    <span class="divider"></span>
    <button (click)="minimize()">
      <mat-icon>minimize</mat-icon>
    </button>
    <button (click)="toggleMaximize()">
      <mat-icon *ngIf="!window.isMaximized()">fullscreen</mat-icon>
      <mat-icon *ngIf="window.isMaximized()">fullscreen_exit</mat-icon>
    </button>
    <button (click)="exit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
