<div class="list-header">
  <span>Video sources:</span>
</div>
<div *ngIf="!videoSources">
  <span>No sources available...</span>
</div>
<mat-list>
  <mat-list-item draggable [dragScope]="'video-input'" *ngFor="let source of videoSources" [dragData]="source">
    {{source.name | slice:0:30}}
  </mat-list-item>
</mat-list>
