<div id="app-component">
  <app-toolbar></app-toolbar>
  <div id="content">
    <div id="main">
      <app-video-preview></app-video-preview>
    </div>
    <nav id="sidebar">
      <app-video-source-list></app-video-source-list>
    </nav>
    <aside id="aside">
      <!-- Nothing yet -->
    </aside>
  </div>
</div>
