#app-component {
  height: 100%;

  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex: 1;
}

#main {
  flex: 1;
}

#sidebar, #aside {
  flex: 0 0 16em; /* 3rd is width of sidebars */

  background-color: #3f3f3f;
}

#sidebar {
  order: -1;
}
